<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<title>电信系统</title>
</head>
<body>
	<div id="footer" th:fragment="copy">
	    <div class="copyright"> 
		    <a href="#">技术支持：后台管理系统</a>
	    </div>
		<!-- jQuery -->
		<script src="/assets/vendor/jquery/jquery.min.js" th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
		<!-- Bootstrap Core JavaScript -->
		<script src="/assets/vendor/bootstrap/js/bootstrap.min.js" th:src="@{/assets/vendor/bootstrap/js/bootstrap.min.js}"></script>
		<!-- Metis Menu Plugin JavaScript -->
		<script src="/assets/vendor/metisMenu/metisMenu.min.js" th:src="@{/assets/vendor/metisMenu/metisMenu.min.js}"></script>
		<!-- Morris Charts JavaScript -->
		<script src="/assets/vendor/raphael/raphael.min.js" th:src="@{/assets/vendor/raphael/raphael.min.js}"></script>
		<script src="/assets/vendor/morrisjs/morris.min.js" th:src="@{/assets/vendor/morrisjs/morris.min.js}"></script>
		<script src="/assets/data/morris-data.js" th:src="@{/assets/data/morris-data.js}"></script>
		<!-- Custom Theme JavaScript -->
		<script src="/assets/dist/js/sb-admin-2.js" th:src="@{/assets/dist/js/sb-admin-2.js}"></script>
		<script src="/js/common/dataTableParam.js" th:src="@{/js/common/dataTableParam.js}"></script>
		<!--<script type="text/javascript" src="/js/home/jquery-ui.js" th:src="@{/js/home/jquery-ui.js}"></script>-->
    </div>
</body>
</html>
