<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>About</title>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content="Your description"/>
<meta name="keywords" content="Your keywords"/>
<meta name="author" content="Your name"/>

</head>
<body class="not-front page-about">

<div id="main">
  <div id="head" th:include="common/index_header :: copy"></div>

  <div class="page_banner"></div>

<div class="breadcrumbs1_wrapper">
  <div class="container">
    <div class="breadcrumbs1"><a href="index.html">Home</a><span>/</span>关于我们</div>
  </div>
</div>

<div id="why1">
  <div class="container">
    <h2 class="animated">WHY WE ARE THE BEST</h2>
    <div class="title1 animated">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod <br/>tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
    <br/><br/>

    <div class="row">
      <div class="col-sm-3">
        <div class="thumb2 animated">
          <div class="thumbnail clearfix">
            <a href="#">
              <figure class="">
                <img src="images/why1.png" alt="" class="img1 img-responsive"/>
                <img src="images/why1_hover.png" alt="" class="img2 img-responsive"/>
              </figure>
              <div class="caption">
                <div class="txt1">Amazing Travel</div>
                <div class="txt2">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</div>
                <div class="txt3">Read More</div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumb2 animated">
          <div class="thumbnail clearfix">
            <a href="#">
              <figure class="">
                <img src="images/why2.png" alt="" class="img1 img-responsive"/>
                <img src="images/why2_hover.png" alt="" class="img2 img-responsive"/>
              </figure>
              <div class="caption">
                <div class="txt1">Discover</div>
                <div class="txt2">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</div>
                <div class="txt3">Read More</div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumb2 animated">
          <div class="thumbnail clearfix">
            <a href="#">
              <figure class="">
                <img src="images/why3.png" alt="" class="img1 img-responsive"/>
                <img src="images/why3_hover.png" alt="" class="img2 img-responsive"/>
              </figure>
              <div class="caption">
                <div class="txt1">Book Your Trip</div>
                <div class="txt2">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</div>
                <div class="txt3">Read More</div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumb2 animated">
          <div class="thumbnail clearfix">
            <a href="#">
              <figure class="">
                <img src="images/why4.png" alt="" class="img1 img-responsive"/>
                <img src="images/why4_hover.png" alt="" class="img2 img-responsive"/>
              </figure>
              <div class="caption">
                <div class="txt1">Nice Support</div>
                <div class="txt2">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</div>
                <div class="txt3">Read More</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="what1">
  <div class="container">
    <h2 class="animated">WHAT WE OFFER ?</h2>
    <div class="title1 animated">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod <br/>tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
    <br/>

    <div class="row">
      <div class="col-sm-6 animated">
        <ul class="ul2">
          <li><a href="#">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet;</a></li>
          <li><a href="#">Option congue nihil imperdiet doming id quod mazim placerat facer;</a></li>
          <li><a href="#">Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes;</a></li>
          <li><a href="#">Investigationes demonstraverunt lectores</a></li>
        </ul>
      </div>
      <div class="col-sm-6 animated">
        <blockquote class="blockquote0">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </blockquote>
      </div>
    </div>

  </div>
</div>

<div id="company1">
  <div class="container">
    <h2 class="animated">ABOUT OUR COMPANY</h2>
    <div class="title1 animated">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod <br/>tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
    <br/>

    <div class="row">
      <div class="col-sm-12 col-md-6 col-md-push-6">
        <div class="content">
          <div class="txt1 animated">TRAVEL AGENCY</div>
          <div class="txt2 animated">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.</div>

          <div class="distance1 animated" data-animation="fadeInUp" data-animation-delay="0">
            <div class="txt">Flights</div>
            <div class="bg">
              <div class="animated-distance" data-num="94" data-duration="1300" data-animation-delay="0"><span></span></div>
            </div>
          </div>

          <div class="distance1 animated" data-animation="fadeInUp" data-animation-delay="100">
            <div class="txt">Hotels</div>
            <div class="bg">
              <div class="animated-distance" data-num="87" data-duration="1300" data-animation-delay="100"><span></span></div>
            </div>
          </div>

          <div class="distance1 animated" data-animation="fadeInUp" data-animation-delay="200">
            <div class="txt">Cars</div>
            <div class="bg">
              <div class="animated-distance" data-num="45" data-duration="1300" data-animation-delay="200"><span></span></div>
            </div>
          </div>

          <div class="distance1 animated" data-animation="fadeInUp" data-animation-delay="300">
            <div class="txt">Cruises</div>
            <div class="bg">
              <div class="animated-distance" data-num="51" data-duration="1300" data-animation-delay="300"><span></span></div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-md-pull-6">
        <img src="images/company1.png" alt="" class="img1 img-responsive animated"/>
      </div>
    </div>
  </div>
</div>

<div id="team1">
  <div class="container">

    <h2 class="animated">OUR TEAM</h2>

    <div class="title1 animated">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod <br/>tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>

    <br/>

    <div class="row">
      <div class="col-sm-3">
        <div class="thumb3 animated" data-animation="flipInY" data-animation-delay="300">
          <div class="thumbnail clearfix">
            <figure class="">
              <img src="images/team01.jpg" alt="" class="img-responsive"/>
              <div class="over">Marketing Manager</div>
            </figure>
            <div class="caption">
              <div class="txt1">Jynda Martin</div>
              <div class="txt2">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</div>
              <div class="social_sm_wrapper">
                <ul class="social_sm clearfix">
                  <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                  <li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumb3 animated" data-animation="flipInY" data-animation-delay="400">
          <div class="thumbnail clearfix">
            <figure class="">
              <img src="images/team02.jpg" alt="" class="img-responsive"/>
              <div class="over">Site Administrator</div>
            </figure>
            <div class="caption">
              <div class="txt1">George Smith</div>
              <div class="txt2">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</div>
              <div class="social_sm_wrapper">
                <ul class="social_sm clearfix">
                  <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                  <li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumb3 animated" data-animation="flipInY" data-animation-delay="500">
          <div class="thumbnail clearfix">
            <figure class="">
              <img src="images/team03.jpg" alt="" class="img-responsive"/>
              <div class="over">Tour Operator</div>
            </figure>
            <div class="caption">
              <div class="txt1">Bill Amadeus</div>
              <div class="txt2">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</div>
              <div class="social_sm_wrapper">
                <ul class="social_sm clearfix">
                  <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                  <li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumb3 animated" data-animation="flipInY" data-animation-delay="600">
          <div class="thumbnail clearfix">
            <figure class="">
              <img src="images/team04.jpg" alt="" class="img-responsive"/>
              <div class="over">Director</div>
            </figure>
            <div class="caption">
              <div class="txt1">Amanda Stoun</div>
              <div class="txt2">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</div>
              <div class="social_sm_wrapper">
                <ul class="social_sm clearfix">
                  <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                  <li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="bot2_wrapper">
  <div class="container">
    <div class="left_side">
      Copyright &copy; 2017.Company name All rights reserved.<a target="_blank" href=""></a>
    </div>
    <div class="right_side"></div>
  </div>
</div>
</div>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
