<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>Contacts</title>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content="Your description"/>
<meta name="keywords" content="Your keywords"/>
<meta name="author" content="Your name"/>

<script src="js/cform.js" th:src="@{/js/cform.js}"></script>
<script src="http://ditu.google.cn/maps/api/js?sensor=false.js"></script>
<script src="js/googlemap.js" th:src="@{/js/googlemap.js}"></script>

</head>
<body class="not-front page-contacts">

<div id="main">
  <div id="head" th:include="common/index_header :: copy"></div>
  <!--<div id="google_map_wrapper"><div id="google_map"></div></div>-->

  <div class="breadcrumbs1_wrapper">
    <div class="container">
      <div class="breadcrumbs1"><a href="index.html">Home</a><span>/</span>反馈</div>
    </div>
  </div>

<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3>反馈信息</h3>
        <p>
          感谢您的反馈, 对于您在本网站提交的反馈信息我们将很快处理，如您急需联系我们，请拨打下面的客服电话，或者发送邮件给我们。
        </p>
        <br/>
        <h4>地址</h4>
        <p>
          陕西省西安市<br/>
          西安邮电大学常思5号公寓<br/>
          <a href="#">1777140904@qq.com</a>
        </p>
        <h4>电话</h4>
        <p>
          18829490333<br/>
          18829440332
        </p>
      </div>
      <div class="col-sm-6">
        <h3>请填写反馈信息</h3>
        <div id="note"></div>
        <div id="fields">
          <form id="ajax-contact-form" class="form-horizontal" action="../resFeedback/addFeedBack" method="post">
            <div class="form-group">
                <label for="inputName">您的姓名</label>
                <input type="text" class="form-control" id="inputName" name="name" value="Full Name" onBlur="if(this.value=='') this.value='Full Name'" onFocus="if(this.value =='Full Name' ) this.value=''"/>
            </div>
            <div class="form-group">
                <label for="inputEmail">您的邮箱</label>
                <input type="text" class="form-control" id="inputEmail" name="email" value="E-mail address" onBlur="if(this.value=='') this.value='E-mail address'" onFocus="if(this.value =='E-mail address' ) this.value=''"/>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                    <label for="inputMessage">反馈内容</label>
                    <textarea class="form-control" rows="7" id="inputMessage" name="content" onBlur="if(this.value=='') this.value='Message'"
                                onFocus="if(this.value =='Message' ) this.value=''">Message</textarea>
                </div>
              </div>
            </div>
            <button type="submit" class="btn-default btn-cf-submit">提交反馈</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="bot2_wrapper">
  <div class="container">
    <div class="left_side">
      关于小鹏<a target="_blank" href=""></a>
    </div>
    <div class="right_side"></div>
  </div>
</div>
</div>
<script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
