<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>首页</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/js/bootstrap/bootstrap.css" th:href="@{/js/bootstrap/bootstrap.css}" rel='stylesheet' type='text/css' />
<link href="/js/bootstrap/style.css" th:href="@{/js/bootstrap/style.css}" rel='stylesheet' type='text/css' />
<link href="/js/bootstrap/font-awesome.css" th:href="@{/js/bootstrap/font-awesome.css}" rel="stylesheet"/> <!-- font-awesome icons -->
<link href="/js/bootstrap/custom.css" th:href="@{/js/bootstrap/custom.css}" rel="stylesheet"/>
<link href="/js/jquery/jquery-ui.css" th:href="@{/js/jquery/jquery-ui.css}" rel="stylesheet"/>
<link href="/css/viewer.min.css" th:href="@{/css/viewer.min.css}" rel="stylesheet"/>

<script type="text/javascript" src="/js/bootstrap/jquery-1.11.1.min.js" th:src="@{/js/bootstrap/jquery-1.11.1.min.js}"></script>
<script type="text/javascript" src="/js/bootstrap/bootstrap.js" th:src="@{/js/bootstrap/bootstrap.js}"></script>
<script type="text/javascript" src="/js/viewer/viewer.min.js" th:src="@{/js/viewer/viewer.min.js}"></script>
</head> 
<body class="cbp-spmenu-push">
	<div class="main-content">
		<!--left-fixed -navigation-->
		<div class=" sidebar" role="navigation">
            <div class="navbar-collapse">
				<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
					<ul class="nav" id="side-menu">
						<li class="">
							<a href="#"><i class="fa fa-book nav_icon"></i>信息公开栏目<span class="fa arrow"></span></a>
							<ul class="nav nav-second-level">
								<li>
									<a href="#" id="gain" class="gain selected" >获取数据</a>
								</li>
							</ul>
						</li>
						<li class="">
							<a href="#"><i class="fa fa-book nav_icon"></i>工商局<span class="fa arrow"></span></a>
							<ul class="nav nav-second-level">
								<li>
									<a href="#" id="record"  class="record" >电子档案</a>
								</li>
								<li>
									<a href="#" id="approveProxy"  class="approveProxy" >审核授权委托书</a>
								</li>
								<li>
									<a href="#" id="noScanCompany"  class="noScanCompany" >未扫描档案企业列表</a>
								</li>
							</ul>
						</li>
						<li class="">
							<a href="#"><i class="fa fa-book nav_icon"></i>微信公众号<span class="fa arrow"></span></a>
							<ul class="nav nav-second-level">
								<li>
									<a href="#" id="enteringScroe"  class="enteringScroe" >录入积分</a>
								</li>
							</ul>
						</li>
						<li class="">
							<a href="#"><i class="fa fa-book nav_icon"></i>金融局栏目<span class="fa arrow"></span></a>
							<ul class="nav nav-second-level">
								
							</ul>
						</li>
						
					</ul>
				</nav>
			</div>
		</div>
		<div class="sticky-header header-section ">
			<div class="header-left">
				<button id="showLeftPush"><i class="fa fa-bars"></i></button>
				<div class="logo">
					<a href="#">
						<h1>企业专属网页</h1>
						<span>中间件</span>
					</a>
				</div>
			</div>
			<div class="profile_details">		
				<ul>
					<li class="dropdown profile_details_drop">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							<div class="profile_img">	
								<span class="prfil-img"><img th:src="@{/js/bootstrap/images/index.jpg}" alt=""/> </span> 
								<div class="user-name">
										<span th:text="${session.user.fdcUserName}" th:unless="${session.user == null}">fdcUserName</span>
								</div>
							</div>	
						</a>
					</li>
				</ul>
			</div>
			</div>
		</div>
		<div id="page-wrapper">
			<div id="page-wrapper-content" class="row calender widget-shadow" >
				<div id="temp-content" >
				
				</div>
			</div>
		</div>
		<!--footer-->
		<div class="footer">
		   <p>技术支持：广州市飞鑫信息科技有限公司</p>
		</div>
	<!-- Classie -->
		<script src="/js/bootstrap/classie.js" th:src="@{/js/bootstrap/classie.js}"></script>
		<script>
			var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
				showLeftPush = document.getElementById( 'showLeftPush' ),
				body = document.body;
				
			showLeftPush.onclick = function() {
				classie.toggle( this, 'active' );
				classie.toggle( body, 'cbp-spmenu-push-toright' );
				classie.toggle( menuLeft, 'cbp-spmenu-open' );
				disableOther( 'showLeftPush' );
			};
			

			function disableOther( button ) {
				if( button !== 'showLeftPush' ) {
					classie.toggle( showLeftPush, 'disabled' );
				}
			}
		</script>
  	<script src="/js/require/require.js" th:src="@{/js/require/require.js}" data-main="/hq-fx/componets/config.js"></script>
  	  	<!-- <script th:src="@{/componets/config.js}" data-main="/componets/config.js"></script> -->
  	<div id="myPrompt"></div>
</body>
</html>