<!doctype html>

<html>
<head>
<meta charset="utf-8" />
<title>jQuery打印插件jqprint</title>
<script language="javascript" src="../js/jprint/jquery-1.4.4.min.js"></script>
<style type="text/css">
* {
	margin: 0px;
	padding: 0px;
}
</style>
<!-- 
如果您使用的是高版本jQuery调用下面jQuery迁移辅助插件即可
<script src="http://www.jq22.com/jquery/jquery-migrate-1.2.1.min.js"></script>
-->
<script language="javascript" src="../js/jprint/jquery.jqprint-0.3.js"></script>
<script language="javascript">
	var HKEY_Root, HKEY_Path, HKEY_Key;
	HKEY_Root = "HKEY_CURRENT_USER";
	HKEY_Path = "\\Software\\Microsoft\\Internet Explorer\\PageSetup\\";
	var head, foot, top, bottom, left, right;
	//取得页面打印设置的原参数数据  
	function PageSetup_temp() {
		try {
			var Wsh = new ActiveXObject("WScript.Shell");
			HKEY_Key = "header";
			//取得页眉默认值  
			head = Wsh.RegRead(HKEY_Root + HKEY_Path + HKEY_Key);
			HKEY_Key = "footer";
			//取得页脚默认值  
			foot = Wsh.RegRead(HKEY_Root + HKEY_Path + HKEY_Key);
			HKEY_Key = "margin_bottom";
			//取得下页边距  
			bottom = Wsh.RegRead(HKEY_Root + HKEY_Path + HKEY_Key);
			HKEY_Key = "margin_left";
			//取得左页边距  
			left = Wsh.RegRead(HKEY_Root + HKEY_Path + HKEY_Key);
			HKEY_Key = "margin_right";
			//取得右页边距  
			right = Wsh.RegRead(HKEY_Root + HKEY_Path + HKEY_Key);
			HKEY_Key = "margin_top";
			//取得上页边距  
			top = Wsh.RegRead(HKEY_Root + HKEY_Path + HKEY_Key);
		} catch (e) {
			//console.log("不允许ActiveX控件");
		}
	}
	//设置网页打印的页眉页脚和页边距为空
	function PageSetup_Null() {
		try {
			var Wsh = new ActiveXObject("WScript.Shell");
			HKEY_Key = "header";
			//设置页眉（为空）  
			Wsh.RegWrite(HKEY_Root + HKEY_Path + HKEY_Key, "");
			HKEY_Key = "footer";
			//设置页脚（为空）  
			Wsh.RegWrite(HKEY_Root + HKEY_Path + HKEY_Key, "");
			HKEY_Key = "margin_bottom";
			//设置下页边距（0）  
			Wsh.RegWrite(HKEY_Root + HKEY_Path + HKEY_Key, "0");
			HKEY_Key = "margin_left";
			//设置左页边距（0）  
			Wsh.RegWrite(HKEY_Root + HKEY_Path + HKEY_Key, "0");
			HKEY_Key = "margin_right";
			//设置右页边距（0）  
			Wsh.RegWrite(HKEY_Root + HKEY_Path + HKEY_Key, "0");
			HKEY_Key = "margin_top";
			//设置上页边距（8）  
			Wsh.RegWrite(HKEY_Root + HKEY_Path + HKEY_Key, "8");
		} catch (e) {
			//alert("不允许ActiveX控件");
		}
	}
	//设置网页打印的页眉页脚和页边距为默认值  
	function PageSetup_Default() {
		try {
			var Wsh = new ActiveXObject("WScript.Shell");
			HKEY_Key = "header";
			HKEY_Key = "header";
			//还原页眉  
			Wsh.RegWrite(HKEY_Root + HKEY_Path + HKEY_Key, head);
			HKEY_Key = "footer";
			//还原页脚  
			Wsh.RegWrite(HKEY_Root + HKEY_Path + HKEY_Key, foot);
			HKEY_Key = "margin_bottom";
			//还原下页边距  
			Wsh.RegWrite(HKEY_Root + HKEY_Path + HKEY_Key, bottom);
			HKEY_Key = "margin_left";
			//还原左页边距  
			Wsh.RegWrite(HKEY_Root + HKEY_Path + HKEY_Key, left);
			HKEY_Key = "margin_right";
			//还原右页边距  
			Wsh.RegWrite(HKEY_Root + HKEY_Path + HKEY_Key, right);
			HKEY_Key = "margin_top";
			//还原上页边距  
			Wsh.RegWrite(HKEY_Root + HKEY_Path + HKEY_Key, top);
		} catch (e) {
			//alert("不允许ActiveX控件");
		}
	}

	
function aa(){
	//PageSetup_temp();//取得默认值  
	//PageSetup_Null();//设置页面 
	//PageSetup_Default();//还原页面设置
	$("#ddd").jqprint(); 
	//window.print();
}
</script>
</head>

<body>
	<input type="button" onclick="aa()" value="打印" />
	<div id="ddd">
		<img style="margin: 0px; padding: 0px; width: 794px; height: 1123px;"
			src="../images/2.jpeg" /> <img
			style="margin: 0px; padding: 0px; width: 794px; height: 1123px;"
			src="../images/3.jpeg" /> <img
			style="margin: 0px; padding: 0px; width: 794px; height: 1123px;"
			src="../images/4.jpeg" />
	</div>
</body>
</html>
